<!-- Google Calendar Appointment Scheduling begin -->
<link href="https://calendar.google.com/calendar/scheduling-button-script.css" rel="stylesheet">
<script src="https://calendar.google.com/calendar/scheduling-button-script.js" async></script>
<script>
(function() {
  var target = document.currentScript;
  window.addEventListener('load', function() {
    calendar.schedulingButton.load({
      url: 'https://calendar.google.com/calendar/appointments/schedules/AcZssZ0F6umA8zTosw2Mt4ZsfAuRYS-jUU8_k5zJxV0rwJeu3bZXaUrchGMyiqcPu85t2hpqVNbkbj1k?gv=true',
      color: '#0B8043',
      label: '{{ rendezvous_btn_label }}',
      target,
    });
  });
})();
</script>
<!-- end Google Calendar Appointment Scheduling -->
