:root {
    --pst-color-inline-code: 212, 69, 0;
    /*
    --pst-font-family-base: "Computer Modern Serif", serif, var(--pst-font-family-base-system);
    --pst-font-family-heading: "Computer Modern Serif", serif, var(--pst-font-family-base-system);
    --pst-font-family-monospace: "Computer Modern Typewriter", Courier, var(--pst-font-family-monospace-system);
     */
    --pst-font-family-base: "Crimson Pro", "Hoefler Text", "Linux Libertine", "Linux Libertine O", "Garamond", "Nimbus Serif", "FreeSerif", serif, var(--pst-font-family-base-system);
    --pst-font-family-heading: "Crimson Pro", "Hoefler Text", "Linux Libertine", "Linux Libertine O", "Garamond", "Nimbus Serif", "FreeSerif", serif, var(--pst-font-family-base-system);
    --pst-font-family-monospace: Courier, var(--pst-font-family-monospace-system);
}

/***
    Style a "subtitle" (tagline)
 */
.tagline {
    position: relative;
    line-height:1;
    top: 0px; /* Changes the space between the logo and the slogan */
    text-align: center;
    font-size:1.3em;
    font-style: italic;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: var(--pst-color-text-base); /* Changes the color of the slogan */
    letter-spacing:0px; /* Changes the letter spacing of the slogan */
}

/***
    Make the code-block copy button always visible
 */
button.copybtn {
   opacity: 1;
}

.sphinx-tabs-tab {
    font-family: unset;
    font-size: unset;
}

.sphinx-tabs-panel {
    border: unset;

}

div[class="sphinx-tabs-panel"].highlight-rst.notranslate {
    margin: unset;
}


.support-btn{
    min-height:36px;
    padding:8px 16px;
    border-radius:4px;
    font-family:Roboto,Arial,sans-serif;
    font-weight:700;
    line-height:20px;
    letter-spacing:.25px;
    color:white;
    border-width:0;
    cursor:pointer;
    white-space:break-spaces;
    word-break:break-word
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    box-sizing:border-box;
    background-color:rgba(32,33,36,.6);
    padding:72px;
    z-index:9999
    border:none;
    border-radius:8px;
    background-color:white;
    width:100%;
    height:100%
    position:fixed;
    top:26px;
    right:72px;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    align-items:center;
    border:none;
    border-radius:18px;
    height:36px;
    padding:16px;
    cursor:pointer
    background-color:rgb(60,64,67)
    color:#fff;
    font-size:18px;
    margin-right:8px
    font-size:14px;
    font-family:"Google Sans",Arial,sans-serif;
    font-weight:500;
    letter-spacing:.25px;
    color:#fff
}
